body {
  font-family: sans-serif;
  background: #000;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #fff;
  margin: 75px 0 50px;
  font-size: 5rem;
}

.gallery {
  margin: 10px 50px;
  text-align: center;
  }

.gallery img {
  width: 230px;
  padding: 5px;
  filter: grayscale(100%);
  transition: 1s;
}

.gallery img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

.lb-nav a.lb-prev, .lb-nav a.lb-next {
  opacity: 1;
}
